In [4]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns
from PIL import Image

In [55]:
img = Image.open('testdigit9.bmp').convert('L')
img.size

(436, 415)

In [56]:
imgArr = np.array(img)
imgArr

array([[255, 255, 255, ..., 255, 255, 255],
       [255, 255, 255, ..., 255, 255, 255],
       [255, 255, 255, ..., 255, 255, 255],
       ...,
       [255, 255, 255, ..., 255, 255, 255],
       [255, 255, 255, ..., 255, 255, 255],
       [255, 255, 255, ..., 255, 255, 255]], dtype=uint8)

In [57]:
imgArr.shape

(415, 436)

In [61]:
bwArr = np.where(imgArr == 255, 0,1)
bwArr

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [62]:
df = pd.DataFrame(bwArr)

In [64]:
df

,0,1,2,3,4,5,6,7,8,9,...,426,427,428,429,430,431,432,433,434,435
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
410,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
411,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
412,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
413,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
414,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [66]:
import FHmodules as fh

files, labels = fh.getFileList('Digits Test Folder')

In [67]:
for i in range(0,len(files)):
    print(files[i])
    print(labels[i])

0_testdigit.bmp
0
1_testdigit.bmp
1
2_testdigit.bmp
2
3_testdigit.bmp
3
4_testdigit.bmp
4
5_testdigit.bmp
5
6_testdigit.bmp
6
7_testdigit.bmp
7
8_testdigit.bmp
8
9_testdigit.bmp
9

In [72]:
for file in files:
    df = fh.imgToDataframe(file)
    print(df.sum().sum())

18777
7865
17049
20542
19087
18235
15329
17370
25599
10770